// ROOT

$color-primary: #CC092F;
$hover-white-color: #e8b2b2;
$hover-red-color: #660518;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #515151;
$color-light-grey: #f2f2f2;
$color-green: #3c8e3b;
$background-color: #ececec;
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

input{
    font-size: 1em;
}

body{
    overflow-x: hidden;
}

header{
    background-color: $color-white;
    padding: 20px 0px;


    .logo{
        padding-left: 25px;
        width: 40px;
    }
    nav{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        

        .desk-list{
            display: none;
        }

        .nav-list{
            z-index: 999;
            position: absolute;
            top: 70px;
            width: 100vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.3s ease-in;
            background: $color-white;
            margin-bottom: 1em;

            .first-li{
                margin-top: 3em;
            }

            .btn-open{
                margin-bottom: 1em;
            }

            #open{
                width: 210px;
            }

            #access{
                width: 210px;
            }

        }

        .active{
            transform: translateX(0%);
            .line1{
                transform: rotate(-45deg) translate(-8px, 8px);
            }
            .line2{
                opacity: 0;
            }
            .line3{
                transform: rotate(45deg) translate(-5px, -7px);
            }

        }




        .desktop{
            display: none;
        }

        ul{

            li{
                
                list-style: none;
                margin-right: 0em;
                margin-bottom: 4em;
                a{
                    text-decoration: none;
                    color: $color-black;
                    transition: 0.5s;
                    &:hover{
                        color: $hover-white-color;
                    }
                }
                
                .user-logged{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .user-photo{
                        width: 37px;
                        height: 37px;
                        border-radius: 100%;
                        margin-right: 1em;
                    }
                    p{
                        color: $color-black;
                    }
                }

                #open{
                    text-transform: uppercase;
                    color: $color-white;
                    border-radius: 5px;
                    border: 2px solid $color-primary;
                    background-color: $color-primary;
                    width: 100px;
                    height: 35px;
                    transition: .5s;
                    font-weight: 500;

                    &:hover{
                        cursor: pointer;
                        background-color: $hover-red-color;
                        color: $color-white;
                        border: none;
                    }
                }

                #access{
                    text-transform: uppercase;
                    color: $color-primary;
                    border-radius: 5px;
                    border: 2px solid $color-primary;
                    background-color: $color-white;
                    width: 100px;
                    height: 35px;
                    transition: .5s;
                    font-weight: 500;

                    &:hover{
                        cursor: pointer;
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }

                .btn-open{
                    margin-bottom: 1em;
                }

                .btn-exit{
                    margin-right: 0em;
                }
            }

        }

        .menu{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin-right: 25px;
            span{
                width: 28px;
                height: 3px;
                background: $color-black;
                margin: 3.5px;
                transition: 0.3s;
            }   

        }
    }
}

.hero-section{
    .container-slide{
        position: relative;
        width: 100%;
        .typo{
            color: $color-white;
            position: absolute;
            top: calc(85% - 250px);
            z-index: 11;
            padding: 1em;
            h1{
                font-size: 2.2em;
            }
            p{
                font-size: 1.1em;
            }
        }
        .slider{
            width: 100%;
            height: 400px;
            overflow: hidden;
            .slides{
                width: 400%;
                display: flex;
                position: relative;
                .slide{
                    width: 25%;
                    position: relative;
                    transition: 2s;
                    img{
                        object-fit: cover;
                        height: 400px;
                        width: 100%;
                    }
                }

                input{
                    display: none;
                }

                .manual-slide-button{
                    position: absolute;
                    width: 100vw;
                    display: flex;
                    justify-content: center;
                    z-index: 10;
                    bottom: 0;
                    transform: translateY(-20px);
                    
                    .manual-btn{
                        border: 2px solid $color-white;
                        padding: 5px;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: 1s;
                        margin-inline: .3em;
                    }
                }

                #radio1:checked ~ .first{
                    margin-left: 0;
                }
                #radio2:checked ~ .first{
                    margin-left: -25%;
                }
                #radio3:checked ~ .first{
                    margin-left: -50%;
                }

                .auto-slide-button{
                    position: absolute;
                    width: 100vw;
                    display: flex;
                    justify-content: center;
                    bottom: 0;
                    transform: translateY(-20px);
                    div{
                        border: 2px solid $color-white;
                        padding: 5px;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: 1s;
                        margin-inline: .3em;
                    }
                }

                #radio1:checked ~ .auto-slide-button{
                    .auto-btn1{
                        background-color: $color-white;
                    }
                }
                #radio2:checked ~ .auto-slide-button{
                    .auto-btn2{
                        background-color: $color-white;
                    }
                }
                #radio3:checked ~ .auto-slide-button{
                    .auto-btn3{
                        background-color: $color-white;
                    }
                }
            }
        }
    }
}

.features-section{
    margin: 3em 1em 1em 1em;
    h1{
        font-size: 2.2em;
        color: $color-primary;
        margin-bottom: 1em;
    }
    p{
        font-size: 1.1em;
    }

    .features-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .item{
            background-color: $color-white;
            padding: 1em;
            min-height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 5px solid $color-primary;
            margin: 1em;
            width: 200px;
            filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
            border-radius: 10px 10px 0 0;
            img{
                width: 60px;
                margin-bottom: 2em;
            }
            .pix{
                width: 50px;
            }

            p{
                font-size: 1.1em;
                &:nth-of-type(1){
                    font-weight: 600;
                    
                }
                &:nth-of-type(2){
                    color: $color-primary;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.about-card-section{
    padding-top: 2em;
    padding-bottom: 2em;
    .about-card-img{
        display: none;
    }
    .container{
        margin: 1em;
        h1{
            color: $color-primary;
            font-size: 2.2em;
            margin-bottom: 1em;
        }

        p{
            margin-bottom: 1em;
            font-size: 1.1em;
        }

        a{
            color: $color-primary;
            list-style: none;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            transition: .5s;
            i{
                font-size: 1.3em;
                transform: translateY(2px);
            }

            &:hover{
                color: $hover-red-color;

            }
        }
    }
    

}

.get-card-section{
    background: linear-gradient(98.26deg, #CC092F -0.03%, #830E25 45.86%, #4B121D 98.96%);
    padding-top: 2em;
    padding-bottom: 2em;
    .credit-card-img{
        display: none;
    }

    .content{
        margin: 1em;
        h1{
            color: $color-white;
            font-size: 2.2em;
            margin-bottom: 1em;
        }
        p{
            color: $color-white;
            margin-bottom: 1em;
            font-size: 1.1em;
        }
        a{
            color: $color-white;
            list-style: none;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            transition: .5s;
            i{
                font-size: 1.3em;
                transform: translateY(2px);
            }

            &:hover{
                color: $hover-white-color;

            }
        }
    }
}

.download-app-section{
    padding: 2em 0em;
    .main-app{
        width: 500px;
        transform: translateX(calc(50% - 350px));
    }
    .content{
        margin: 1em;
        h1{
            color: $color-primary;
            font-size: 2.2em;
            margin-bottom: 1em;
        }
        p{
            margin-bottom: 1em;
            font-size: 1.1em;
        }
        .steps{
            .step{
                display: flex;
                p{
                    &:nth-of-type(1){
                        background-color: $color-primary;
                        color: $color-white;
                        border-radius: 50%;
                        min-width: 30px;
                        height: 30px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 1em;
                    }

                    span{
                        color: $color-primary;
                        cursor: pointer;
                    }
                }
            }
        }

        .download-sources{
            display: flex;
            margin-top: 1em;
            img{
                width: 130px;
                &:nth-of-type(1){
                    margin-right: 1em;
                }
            }
        }
    }
}

.best-bank{
    position: relative;
    height: 400px;
    img{
        width: 100vw;
        height: 400px;
        object-fit: cover;
        
    }

    h1{
        margin: 1em;
        font-size: 2.5em;
        color: $color-white;
        position: absolute;
        top: calc(50% - 170px);
        z-index: 13;
        right: 0;
        left: 0;
        text-align: center;

        span{
            color: $color-primary;
        }
    }
}

footer{
    background-color: #111111;
    color: $color-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em 1em 1em 1em;

    .list{
        width: 180px;
        text-align: left;
        margin-bottom: 1em;
        .header{
            font-weight: 500;
        }

        p{
            a{
                color: $color-light-grey;
                list-style: none;
                text-decoration: none;
                font-weight: 200;

                img{
                    width: 140px;
                    &:nth-of-type(1){
                        margin-top: 1em;
                        margin-bottom: -.4em;
                    }
                }
            }
        }
    }

}

// RESPONSIVIDADE

@media only screen and (min-width: 425px){
    .download-app-section{
        .main-app{
            transform: translateX(calc(50% - 290px));
        }
    }
}

@media only screen and (min-width: 768px){
    header{
    
        nav{
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;

            .nav-list{
                display: none;
            }

            .desk-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                li{
                    min-width: 80px;

                    i{
                        font-size: 1.1em;
                        transform: translateY(2px);
                        margin-left: 1.5em;
                    }

                }
            }

            .desktop{
                display: flex;
                flex-direction: row;
                align-items: center;
                transform: translateX(-50px);
                #open{
                    width: 135px;
                }
            }

            ul{
                display: flex;
                flex-direction: row;
                li{
                    margin-right: 0.9em;
                    margin-bottom: 0em;
                }
            }
            .menu{
                display: none;
            }
        }
    }

    .hero-section{
        .container-slide{
            .typo{
                padding: 2em;
                top: calc(85% - 300px);
                max-width: 350px;
                h1{
                    font-size: 2.7em;
                }
                p{
                    font-size: 1.3em;
                }
            }
            .slider{
                height: 450px;
                .slides{
                    .slide{
                        img{
                            height: 450px;
                        }
                    }

                    .manual-slide-button{
                        transform: translateY(-25px);
                    }

                    .auto-slide-button{
                        transform: translateY(-25px);
                    }
                }
            }
        }
    }

    .features-section{
        padding: 2em;
        h1{
            font-size: 2.5em;
            margin-bottom: .5em;
        }
        .p-typo{
            font-size: 1.2em;
            max-width: 350px;
            margin-bottom: 1em;
        }
    }

    .about-card-section{
        display: flex;
        flex-direction: row;
        padding-bottom: 0em;
        .about-card-img{
            display: flex;
            width: 40%;
        }
        .container{
            padding: 2em;
            h1{
                font-size: 2.5em;
                max-width: 300px;
            }
            p{
                font-size: 1.2em;
                max-width: 300px;
                margin-bottom: 3em;
            }
            a{
                font-weight: 500;
                i{
                    transform: translateY(1.5px);
                }
            }
        }
    }

    .get-card-section{
        display: flex;
        flex-direction: row;
        padding: 2em;

        .credit-card-img{
            display: flex;
            width: 50%;
            object-fit: cover;
        }

        .content{
            h1{
                font-size: 2.5em;
                max-width: 300px;
            }
            p{
                font-size: 1.2em;
                max-width: 300px;
            }

            a{
                margin-top: 3em;
            }
        }
    }

    .download-app-section{
        display: flex;
        flex-direction: row;
        .main-app{
            object-fit: cover;
            width: 45%;
            transform: translateX(0);
        }
        .content{
            padding: 2em;
        }
    }

    .best-bank{
        h1{
            top: calc(50% - 80px);
        }
    }
}

@media only screen and (min-width: 1024px){
    header{
        padding: 25px;
        nav{
            .logo{
                width: 40px;
            }

            ul{
                li{
                    margin-right: 2em;
                }
            }

            .desktop{
                #open{
                    margin-right: -1em;
                }
            }
        }
    }

    .hero-section{
        .container-slide{
            display: flex;
            justify-content: center;
            .typo{
                padding: 2em;
                top: calc(85% - 300px);
                max-width: 1200px;
                width: 100%;
                margin-left: 2em;
                h1{
                    font-size: 2.7em;
                    max-width: 350px;
                }
                p{
                    font-size: 1.3em;
                    max-width: 350px;
                }
            }
            .slider{
                height: 450px;
                .slides{
                    .slide{
                        img{
                            height: 450px;
                        }
                    }

                    .manual-slide-button{
                        transform: translateY(-25px);
                    }

                    .auto-slide-button{
                        transform: translateY(-25px);
                    }
                }
            }
        }
    }

    .features-section{
        padding: 2em;
        h1{
            font-size: 2.5em;
            margin-bottom: .5em;
        }
        .p-typo{
            font-size: 1.2em;
            max-width: 350px;
            margin-bottom: 1em;
        }
    }

    .about-card-section{
        display: flex;
        flex-direction: row;
        padding-bottom: 0em;
        .about-card-img{
            display: flex;
            width: 40%;
        }
        .container{
            padding: 2em;
            width: 45%;
            h1{
                font-size: 2.5em;
                max-width: 450px;
                margin-top: 3em;
            }
            p{
                font-size: 1.2em;
                max-width: 450px;
                margin-bottom: 3em;
            }
            a{
                font-weight: 500;
                font-size: 1.3em;
                i{
                    transform: translateY(1.5px);
                }
            }
        }
    }

    .get-card-section{
        display: flex;
        flex-direction: row;
        padding: 2em;

        .credit-card-img{
            display: flex;
            width: 50%;
            scale: 1.2;
            object-fit: cover;
        }

        .content{
            h1{
                font-size: 2.5em;
                max-width: 450px;
                margin-top: 1.5em;
            }
            p{
                font-size: 1.2em;
                max-width: 450px;
                margin-bottom: 3em;
            }

            a{
                margin-top: 3em;
                margin-bottom: 2em;
                font-weight: 500;
                font-size: 1.3em;
            }
        }
    }

    .download-app-section{
        margin-top: 2em;
        margin-bottom: 2em;
        .main-app{
            width: 45%;
            transform: translateX(0);
        }
        .content{
            padding: 2em;
        }
    }

    .best-bank{
        display: flex;
        h1{
            top: calc(50% - 45px);
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1440px){

    .hero-section{
        .container-slide{
            .typo{
                padding: 2em;
                top: calc(85% - 430px);
                max-width: 1200px;
                width: 100%;
                margin-left: 2em;
                h1{
                    font-size: 3.5em;
                    max-width: 450px;
                }
                p{
                    font-size: 2em;
                    max-width: 530px;
                }
            }
            .slider{
                height: 650px;
                .slides{
                    .slide{
                        img{
                            height: 650px;
                        }
                    }

                    .manual-slide-button{
                        transform: translateY(-30px);
                    }

                    .auto-slide-button{
                        transform: translateY(-30px);
                    }
                }
            }
        }
    }

    .features-section{
        padding: 150px 2em 2em 2em;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        h1{          
            font-size: 3.5em;
            margin-bottom: .5em;
        }
        .p-typo{
            font-size: 1.6em;
            max-width: 550px;
            margin-bottom: 1.5em;
        }
    }

    .about-card-section{
        display: flex;
        flex-direction: row;
        padding-bottom: 0em;
        max-width: 1200px;
        margin: 0 auto;
        .about-card-img{
            display: flex;
            width: 50%;
        }
        .container{
            padding: 0em;
            width: 50%;
            h1{
                font-size: 3.5em;
                max-width: 450px;
                margin-top: 3em;
            }
            p{
                font-size: 1.6em;
                max-width: 450px;
                margin-bottom: 3em;
            }
            a{
                font-weight: 500;
                font-size: 1.3em;
                i{
                    transform: translateY(1.5px);
                }
            }
        }
    }

    .get-card-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2.5em 0em;

        .credit-card-img{
            display: flex;
            width: 600px;
            scale: 1.2;
            object-fit: cover;
        }

        .content{
            width: 580px;
            h1{
                font-size: 3.5em;
                max-width: 550px;
                margin-top: 1.5em;
            }
            p{
                font-size: 1.6em;
                max-width: 530px;
                margin-bottom: 3em;
            }

            a{
                margin-top: 3em;
                margin-bottom: 2em;
                font-weight: 500;
                font-size: 1.3em;
            }
        }
    }

    .download-app-section{
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        .main-app{
            width: 600px;
            transform: translateX(-70px);
        }
        .content{
            padding: 2em 0em 2em 0;
            width: 600px;
            h1{
                font-size: 3.5em;
                margin-bottom: .5em;
            }
            p{
                font-size: 1.6em;
                margin-bottom: 1.4em;
            }

            .steps{
                .step{
                    display: flex;
                    align-items: center;
                    p{
                        &:nth-of-type(1){
                            min-width: 40px;
                            min-height: 40px;
                        }
                    }
                }
            }

            .download-sources{
                
                img{
                    width: 200px;
                }
            }
        }
    }

    .best-bank{
        height: 100%;
        h1{
            top: calc(50% - 45px);
            font-size: 3.5em;
            max-width: 750px;
            margin: 0 auto;
        }
        img{
            height: 500px;
        }
    }

    footer{
        .list{
            margin-right: 2em;
            font-size: 1.1em;
        }
    }
}