* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #ececec;
}

hr {
  background-color: #515151;
  opacity: 50%;
  margin-bottom: 1em;
  z-index: -9;
}

.main-section .container-main .wrapper {
  margin: 1em;
}
.main-section .container-main .wrapper .back {
  display: flex;
  align-items: center;
  color: #CC092F;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1em;
  transition: 0.5s;
}
.main-section .container-main .wrapper .back .bx {
  font-size: 1.5em;
}
.main-section .container-main .wrapper .back:hover {
  color: #660518;
}
.main-section .container-main .wrapper .info-pix {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
.main-section .container-main .wrapper .info-pix .info-row {
  display: flex;
  flex-direction: column;
}
.main-section .container-main .wrapper .info-pix .info-row .label h1 {
  font-weight: 400;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.main-section .container-main .wrapper .info-pix .info-options button {
  margin-top: 1em;
  width: 100%;
  height: 39px;
  background-color: #CC092F;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.main-section .container-main .wrapper .info-pix .info-options button:hover {
  background-color: #660518;
}
.main-section .container-main .wrapper .input-chave {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1em;
}
.main-section .container-main .wrapper .input-chave hr {
  margin-top: 1em;
  z-index: 9;
}
.main-section .container-main .wrapper .input-chave input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #515151;
  margin-bottom: 2em;
  padding: 5px 0em;
  transition: 0.5s;
}
.main-section .container-main .wrapper .input-chave input:focus {
  outline: none;
  border-bottom: 2px solid #CC092F;
}
.main-section .container-main .wrapper .input-chave button {
  background-color: #CC092F;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  height: 39px;
  width: 100%;
}
.main-section .container-main .wrapper .input-chave button:hover {
  background-color: #660518;
}

@media only screen and (min-width: 768px) {
  .main-section .container-main .wrapper {
    margin: 1em 2em;
  }
  .main-section .container-main .wrapper .back {
    font-weight: 600;
  }
  .main-section .container-main .wrapper .info-pix {
    padding: 2em;
  }
  .main-section .container-main .wrapper .info-pix .info-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-section .container-main .wrapper .info-pix .info-row button {
    width: 210px;
    padding: 10px 0px;
  }
  .main-section .container-main .wrapper .info-pix .info-saldo {
    margin-left: 1.5em;
    display: flex;
  }
  .main-section .container-main .wrapper .info-pix .info-saldo .available {
    margin-bottom: 0em;
    margin-right: 7em;
  }
}
@media only screen and (min-width: 1024px) {
  .main-section .container-main {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-section .container-main .wrapper {
    width: 100%;
    max-width: 1130px;
  }
  .main-section .container-main .wrapper .info-pix {
    padding: 2em 3em;
  }
}/*# sourceMappingURL=pix.css.map */