// ROOT

$color-primary: #CC092F;
$hover-white-color: #e8b2b2;
$hover-red-color: #660518;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #515151;
$color-light-grey: #f2f2f2;
$color-green: #3c8e3b;
$background-color: #ececec;


// REUSABLE

@mixin button-red {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color .5s;

    &:hover{
        background-color: $hover-red-color;
    }
}


*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $background-color;
}

hr{
    background-color: $color-dark-grey;
    opacity: 50%;
    margin-bottom: 1em;
    z-index: -9;
}

.main-section{
    .container-main{
        .wrapper{
            margin: 1em;

            .back{
                display: flex;
                align-items: center;
                color: $color-primary;
                font-size: 1em;
                cursor: pointer;
                margin-bottom: 1em;
                transition: .5s;

                .bx{
                    font-size: 1.5em;
                }

                &:hover{
                    color: $hover-red-color;
                }
            }


            .info-pix{
                background-color: $color-white;
                padding: 1em;
                margin-bottom: 1em;

                .info-row{
                    display: flex;
                    flex-direction: column;

                    .label{
                        h1{
                            font-weight: 400;
                            margin-bottom: 1em;
                            text-transform: uppercase;
                        }
                    }
                }

                .info-options{
                    
                    button{
                        margin-top: 1em;
                        width: 100%;
                        height: 39px;
                        @include button-red();
                    }
                }
            }

            .input-chave{
                display: flex;
                flex-direction: column;
                background-color: $color-white;
                padding: 1em;

                hr{
                    margin-top: 1em;
                    z-index: 9;
                }

                input{
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $color-dark-grey;
                    margin-bottom: 2em;
                    padding: 5px 0em;
                    transition: 0.5s;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid $color-primary;
                    }
                }

                button{
                    @include button-red();
                    height: 39px;
                    width: 100%;
                }
            }

            .enviar-pag{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                display: flex;
                flex-direction: column;

                hr{
                    margin: 1em 0;
                    z-index: 9;
                }

                .item{
                    font-size: 0.9em;
                    margin-bottom: 1em;
                    p{
                        &:nth-of-type(1){
                            font-weight: 500;
                        }
                        &:nth-of-type(2){
                            font-weight: 300;
                            color: $color-dark-grey;
                        }
                    }
                }
                input{
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $color-dark-grey;
                    margin-bottom: 2em;
                    padding: 5px 0em;
                    transition: 0.5s;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid $color-primary;
                    }
                }
                .last-part{
                    .option-form{
                        p{
                            font-size: 0.9em;
                            span{
                                color: $color-green;
                            }
                            &:nth-of-type(1){
                                font-weight: 500;
                            }
                            &:nth-of-type(2){
                                font-weight: 300;
                                color: $color-dark-grey;
                            }
                        }
                    }
                    button{
                        @include button-red();
                        height: 39px;
                        width: 100%;
                        margin: 0 auto;
                        margin-top: 1em;
                    }

                }
                
            }

            .confirm{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;

                p{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1em;
                    i{
                        color: $color-green;
                        margin-right: .5em;
                        font-size: 1.5em
                    }
                }

                button{
                    @include button-red();
                    width: 100%;
                    height: 39px;
                    
                    &:nth-of-type(2){
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}

// RESPONSIVIDADE

@media only screen and (min-width: 768px){
    .main-section{
        .container-main{
            .wrapper{
                margin: 1em 2em;

                .back{
                    font-weight: 600;
                }
                .info-pix{
                    padding: 2em;
                    .info-options{
                        button{
                            width: 240px;
                            
                        }
                    }
                    
                }

                .input-chave{
                    padding: 2em;
                    input{
                        width: 45%;
                    }
                    button{
                        width: 240px;
                        
                    }
                }

                .enviar-pag{
                    padding: 2em;
                    
                    input{
                        width: 45%;

                    }

                    .last-part{
                        display: flex;
                        align-items: center;
                        .option-form{
                            width: 100%;
                        }
                        button{
                            max-width: 240px;
                            min-width: 240px;
                            margin-top: 0em;
                        }
                    }
                }

                .confirm{
                    display: flex;
                    flex-direction: column;

                    hr{
                        z-index: 9;
                    }
                    button{
                        max-width: 240px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .main-section{
        .container-main{
            display: flex;
            justify-content: center;
            width: 100%;
            .wrapper{
                width: 100%;
                max-width: 1130px;

                .info-pix{
                    padding: 2em 3em;
                }

                .input-chave{
                    padding: 2em 3em;
                }

                .enviar-pag{
                    padding: 2em 3em;
                    
                }

                .confirm{
                    padding: 2em 3em;
                }
            }
        }
    }
}