// ROOT

$color-primary: #CC092F;
$hover-white-color: #e8b2b2;
$hover-red-color: #660518;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #515151;
$color-light-grey: #f2f2f2;
$color-green: #3c8e3b;
$background-color: #ececec;


// REUSABLE

@mixin button-red {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color .5s;

    &:hover{
        background-color: $hover-red-color;
    }
}


*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $background-color;
}

hr{
    background-color: $color-dark-grey;
    opacity: 50%;
    margin-bottom: 1em;
    z-index: -9;
}

.main-section{
    .container-main{
        .wrapper{
            margin: 1em;

            .back{
                display: flex;
                align-items: center;
                color: $color-primary;
                font-size: 1em;
                cursor: pointer;
                margin-bottom: 1em;
                transition: .5s;

                .bx{
                    font-size: 1.5em;
                }

                &:hover{
                    color: $hover-red-color;
                }
            }


            .info-emprestimo{
                background-color: $color-white;
                padding: 1em;
                margin-bottom: 1em;

                .info-row{
                    display: flex;
                    flex-direction: column;

                    .label{
                        h1{
                            font-weight: 400;
                            margin-bottom: 1em
                        }
                    }
                }

                .info-available{
                    padding-left: 1em;
                    
                    .available{
                        margin-bottom: 1em;
                        #saldo{
                            color: $color-black;
                            font-weight: 600;
                        }
                    }
                }
            }
            .none{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    margin: 2em 0em 1em 0em;
                    text-align: center;
                    color: $color-dark-grey;
                    
                }
                #next{
                    @include button-red();
                    height: 39px;
                    width: 240px;
                    &:disabled{
                        background-color: $color-light-grey;
                        color: $color-black;
                    }
                }
            }

            .square1{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                .valor-square1{
                    hr{
                        margin-top: 1em;
                    }
                    input{
                        width: 90%;
                        border: none;
                        border-bottom: 2px solid $color-dark-grey;
                        margin-bottom: 2em;
                        padding: 5px 0em;
                        transition: 0.5s;

                        &:focus{
                            outline: none;
                            border-bottom: 2px solid $color-primary;
                        }
                    }
                }

                .parcelas-square1{
                    p{
                        margin-bottom: 1em;
                    }
                    #parcelas{
                        width: 90%;
                        border: none;
                        border-bottom: 2px solid $color-dark-grey;
                        margin-bottom: 2em;
                        padding: 5px 1em;
                        transition: 0.5s;
                        color: $color-dark-grey;
                        cursor: pointer;

                        &:focus{
                            outline: none;
                            border-bottom: 2px solid $color-primary;
                        }
                    }
                }

                .result-card{
                    position: relative;
                    padding: 1em;
                    border: 1px solid rgba($color: #3a3a3a, $alpha: 0.2);
                    margin-bottom: 1em;
                    img{
                        position: absolute;
                        width: 20px;
                        right: 0;
                        bottom: 0;
                        transform: translate(-1em, -1em);
                    }

                    .info-result{
                        .taxa{
                            p{
                                &:nth-of-type(1){
                                    margin-top: 1em;
                                }

                                &:nth-of-type(2){
                                    font-size: 0.8em;
                                    color: $color-dark-grey;
                                    margin-bottom: 1em;
                                }
                            }
                        }

                        .type-debit{
                            font-size: .8em;
                        }
                    }
                }

                #next2{
                    @include button-red();
                    width: 100%;
                    height: 39px;
                    
                    &:disabled{
                        background-color: $color-light-grey;
                        color: $color-black;
                    }
                }
            }

            .square2{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                .day-square2{
                    p{
                        margin-bottom: 1em;
                    }
                    #dias{
                        width: 90%;
                        border: none;
                        border-bottom: 2px solid $color-dark-grey;
                        margin-bottom: 2em;
                        padding: 5px 1em;
                        transition: 0.5s;
                        color: $color-dark-grey;
                        cursor: pointer;

                        &:focus{
                            outline: none;
                            border-bottom: 2px solid $color-primary;
                        }
                    }
                }

                .finish{
                    @include button-red();
                    width: 100%;
                    height: 39px;
                    &:disabled{
                        background-color: $color-light-grey;
                        color: $color-black;
                    }
                }
            }

            .confirm{
                margin-top: 1em;
                background-color: $color-white;
                padding: 1em;
                p{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1em;
                    i{
                        color: $color-green;
                        margin-right: .5em;
                        font-size: 1.5em
                    }
                }

                button{
                    @include button-red();
                    width: 100%;
                    height: 39px;
                }
            }
        }
    }
}

// RESPONSIVIDADE

@media only screen and (min-width: 768px){
    .main-section{
        .container-main{
            .wrapper{
                margin: 1em 2em;

                .back{
                    font-weight: 600;
                }
                .info-emprestimo{
                    padding: 2em;
                    .info-row{
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        button{
                            width: 210px;
                            padding: 10px 0px;
                        }
                    }
                    .info-available{
                        margin-left: 1.5em;
                        display: flex;
                        .available{
                            margin-bottom: 0em;
                            margin-right: 7em;
                        }
                    }
                }

                .square1{
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .container{
                        display: flex;
                        width: 100%;
                        .envelope{
                            margin-right: 1em;
                            width: 100%;
                            .valor-square1{
                                width: 100%;
                            }
                        }
                        
                        
                        .result-card{
                            width: 100%;
                        }
                    }
                   
                    #next2{
                        justify-self: center;
                        max-width: 240px;
                    }
                }

                .square2{
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    .day-square2{
                        #dias{
                            width: 43%;
                        }
                    }
                    .finish{
                        margin: 0 auto;
                        max-width: 240px;
                    }
                }

                .confirm{
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    hr{
                        z-index: 9;
                    }
                    button{
                        max-width: 240px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .main-section{
        .container-main{
            display: flex;
            justify-content: center;
            width: 100%;
            .wrapper{
                width: 100%;
                max-width: 1130px;

                .info-emprestimo{
                    padding: 2em 3em;
                }

                .square1{
                    padding: 3em 3em 2em 3em;

                    .container{
                        margin-bottom: 1em;
                    }
                }

                .square2{
                    padding: 3em 3em 2em 3em;
                    
                    .finish{
                        margin-top: 1em;
                    }
                }

                .confirm{
                    padding: 3em 3em 2em 3em;
                    button{
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}
