// ROOT

$color-primary: #CC092F;
$hover-white-color: #e8b2b2;
$hover-red-color: #660518;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #515151;
$color-light-grey: #f2f2f2;
$color-green: #3c8e3b;
$background-color: #ececec;


// REUSABLE

@mixin button-red {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color .5s;

    &:hover{
        background-color: $hover-red-color;
    }

    &:disabled{
        background-color: $color-light-grey;
        color: $color-dark-grey;
    }
}


*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $background-color;
}

hr{
    background-color: $color-dark-grey;
    opacity: 50%;
    margin-bottom: 1em;
    z-index: -9;
}

.main-section{
    .container-main{
        .wrapper{
            margin: 1em;

            .back{
                display: flex;
                align-items: center;
                color: $color-primary;
                font-size: 1em;
                cursor: pointer;
                margin-bottom: 1em;
                transition: .5s;

                .bx{
                    font-size: 1.5em;
                }

                &:hover{
                    color: $hover-red-color;
                }
            }


            .info-boleto{
                background-color: $color-white;
                padding: 1em;
                margin-bottom: 1em;

                .info-row{
                    display: flex;
                    flex-direction: column;

                    .label{
                        h1{
                            font-weight: 400;
                            margin-bottom: 1em
                        }
                    }
                }

                .info-options{
                    padding-left: 0em;
                    
                    p{
                        margin-bottom: 1em;
                    }

                    .btn-options{
                        button{
                            width: 100%;
                            height: 39px;
                            @include button-red();
                            padding: 0 15px;

                            &:nth-of-type(1){
                                margin-bottom: 1em;

                            }
                        }
                    }
                }
            }

            .input-codigo{
                background-color: $color-white;
                padding: 1em;
                display: flex;
                flex-direction: column;

                p{
                    margin-bottom: 1em;
                }

                hr{
                    z-index: 9;
                }

                input{
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $color-dark-grey;
                    margin-bottom: 2em;
                    padding: 5px 0em;
                    transition: 0.5s;
                    margin-right: 1em;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid $color-primary;
                    }
                }

                button{
                    @include button-red();
                    height: 39px;
                    margin: 0 auto;
                    width: 100%;
                }
            }

            .dados-pag{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                display: flex;
                flex-direction: column;

                hr{
                    margin: 1em 0;
                    z-index: 9;
                }

                .item{
                    margin-bottom: 1em;
                    margin-left: 1em;
                    font-size: 0.9em;
                    p{
                        &:nth-of-type(1){
                            font-weight: 500;
                        }
                        &:nth-of-type(2){
                            font-weight: 300;
                            color: $color-dark-grey;
                        }
                    }
                }
                button{
                    @include button-red();
                    height: 39px;
                    width: 100%;
                    margin: 0 auto;
                }
            }

            .confirm{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;

                p{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1em;
                    i{
                        color: $color-green;
                        margin-right: .5em;
                        font-size: 1.5em
                    }
                }

                button{
                    @include button-red();
                    width: 100%;
                    height: 39px;
                    
                    &:nth-of-type(2){
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}

// RESPONSIVIDADE

@media only screen and (min-width: 768px){
    .main-section{
        .container-main{
            .wrapper{
                margin: 1em 2em;

                .back{
                    font-weight: 600;
                }
                .info-boleto{
                    padding: 2em;
                    .info-row{
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .info-options{
                        width: 100%;
                        .btn-options{
                            display: flex;

                            button{
                                width: 240px;
                                &:nth-of-type(1){
                                    margin-bottom: 0em;
                                    margin-right: 1em;
                                }
                                &:disabled{
                                    background-color: $color-light-grey;
                                    color: $color-black;
                                }
                            }

                        }
                    }
                }

                .input-codigo{
                    padding: 2em;
                    input{
                        width: 60%;
                    }
                    button{
                        margin-top: 1em;
                        width: 240px;
                    }
                }

                .dados-pag{
                    padding: 2em;

                    .item{
                        margin-bottom: 1.5em;
                        margin-left: 1.5em;
                        &:nth-of-type(1){
                            margin-top: 1.5em;
                        }

                    }
                    button{
                        margin-top: .5em;
                        width: 240px;
                    }
                }

                .confirm{
                    padding: 2em;

                    .buttons{
                        button{
                            width: 240px;

                            &:nth-of-type(1){
                                margin-right: 1em;
                            }
                            &:nth-of-type(2){
                                width: 55px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .main-section{
        .container-main{
            display: flex;
            justify-content: center;
            width: 100%;
            .wrapper{
                width: 100%;
                max-width: 1130px;

                .info-boleto{
                    padding: 2em 3em;
                }
            }
        }
    }
}