* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #ececec;
}

hr {
  background-color: #515151;
  opacity: 50%;
  margin-bottom: 1em;
  z-index: -9;
}

.main-section .container-main .wrapper {
  margin: 1em;
}
.main-section .container-main .wrapper .back {
  display: flex;
  align-items: center;
  color: #CC092F;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1em;
  transition: 0.5s;
}
.main-section .container-main .wrapper .back .bx {
  font-size: 1.5em;
}
.main-section .container-main .wrapper .back:hover {
  color: #660518;
}
.main-section .container-main .wrapper .info-account {
  background-color: #fff;
  padding: 1em;
}
.main-section .container-main .wrapper .info-account .info-row {
  display: flex;
  flex-direction: column;
}
.main-section .container-main .wrapper .info-account .info-row .label h1 {
  font-weight: 400;
}
.main-section .container-main .wrapper .info-account .info-row .label p {
  color: #515151;
  margin-bottom: 1em;
}
.main-section .container-main .wrapper .info-account .info-row button {
  background-color: #CC092F;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-bottom: 1em;
}
.main-section .container-main .wrapper .info-account .info-row button:hover {
  background-color: #660518;
}
.main-section .container-main .wrapper .info-account .info-saldo {
  padding-left: 1em;
}
.main-section .container-main .wrapper .info-account .info-saldo .available {
  margin-bottom: 1em;
}
.main-section .container-main .wrapper .info-account .info-saldo .available #saldo {
  color: #3c8e3b;
}
.main-section .container-main .wrapper .info-account .info-saldo .limit p:nth-of-type(2) {
  color: #3c8e3b;
}
.main-section .container-main .wrapper .actions {
  display: grid;
  gap: 1em;
  margin-top: 1em;
}
.main-section .container-main .wrapper .actions .item {
  background-color: #fff;
  padding: 1em;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.main-section .container-main .wrapper .actions .item:hover {
  scale: 1.03;
}
.main-section .container-main .wrapper .actions .item img {
  width: 60px;
  margin-bottom: 2em;
}
.main-section .container-main .wrapper .actions .item .pix {
  width: 50px;
}
.main-section .container-main .wrapper .actions .item p:nth-of-type(1) {
  font-weight: 600;
}
.main-section .container-main .wrapper .actions .item p:nth-of-type(2) {
  color: #CC092F;
  display: flex;
  align-items: center;
}
.main-section .container-main .wrapper .my-cards {
  background-color: #fff;
  padding: 1em;
  margin-top: 1em;
}
.main-section .container-main .wrapper .my-cards h1 {
  font-weight: 400;
}
.main-section .container-main .wrapper .my-cards hr {
  margin-top: 1em;
}
.main-section .container-main .wrapper .my-cards .btn-cards button {
  width: 100%;
  background-color: #CC092F;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.main-section .container-main .wrapper .my-cards .btn-cards button:hover {
  background-color: #660518;
}
.main-section .container-main .wrapper .my-cards .btn-cards button:nth-of-type(2) {
  background-color: #fff;
  border: 1.5px solid #CC092F;
  color: #CC092F;
  font-weight: 400;
  margin-top: 1em;
}
.main-section .container-main .wrapper .my-cards .btn-cards button:nth-of-type(2):hover {
  background-color: #CC092F;
  color: #fff;
}
.main-section .container-main .wrapper .messages {
  background-color: #fff;
  padding: 1em;
  margin-top: 1em;
  color: #515151;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main-section .container-main .wrapper {
    margin: 1em 2em;
  }
  .main-section .container-main .wrapper .back {
    font-weight: 600;
  }
  .main-section .container-main .wrapper .info-account {
    padding: 2em;
  }
  .main-section .container-main .wrapper .info-account .info-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-section .container-main .wrapper .info-account .info-row button {
    width: 210px;
    padding: 10px 0px;
  }
  .main-section .container-main .wrapper .info-account .info-saldo {
    margin-left: 1.5em;
    display: flex;
  }
  .main-section .container-main .wrapper .info-account .info-saldo .available {
    margin-bottom: 0em;
    margin-right: 7em;
  }
  .main-section .container-main .wrapper .actions {
    grid-template-areas: "emp bol" "pix pix";
  }
  .main-section .container-main .wrapper .actions .item {
    padding: 1em 2em;
  }
  .main-section .container-main .wrapper .actions .emp {
    grid-area: "emp";
  }
  .main-section .container-main .wrapper .actions .bol {
    grid-area: "bol";
  }
  .main-section .container-main .wrapper .actions .pix {
    grid-area: "pix";
    max-width: 100%;
  }
  .main-section .container-main .wrapper .my-cards {
    padding: 2em;
  }
  .main-section .container-main .wrapper .my-cards .btn-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
  }
  .main-section .container-main .wrapper .my-cards .btn-cards button {
    padding: 10px 0px;
  }
  .main-section .container-main .wrapper .my-cards .btn-cards button:nth-of-type(1) {
    padding: 0px 0px;
    margin-right: 1em;
  }
  .main-section .container-main .wrapper .my-cards .btn-cards button:nth-of-type(2) {
    margin-top: 0em;
  }
}
@media only screen and (min-width: 1024px) {
  .main-section .container-main {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-section .container-main .wrapper {
    width: 100%;
    max-width: 1130px;
  }
  .main-section .container-main .wrapper .info-account {
    padding: 2em 3em;
  }
  .main-section .container-main .wrapper .actions {
    grid-template-areas: "emp bol pix" "emp bol pix";
  }
  .main-section .container-main .wrapper .actions .item {
    padding: 1em 3em;
  }
  .main-section .container-main .wrapper .my-cards {
    padding: 2em 3em;
    margin-top: 0em;
  }
  .main-section .container-main .wrapper .messages {
    padding: 2em 3em;
  }
}/*# sourceMappingURL=user_page.css.map */