// ROOT

$color-primary: #CC092F;
$hover-white-color: #e8b2b2;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #515151;
$color-light-grey: #f2f2f2;
$color-green: #3c8e3b;
$background-color: #ececec;


// REUSABLE

@mixin button-red {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}


*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $background-color;
}

hr{
    background-color: $color-dark-grey;
    opacity: 50%;
    margin-bottom: 1em;
    z-index: -9;
}

.main-section{
    .container-main{
        .wrapper{
            margin: 1em;

            .back{
                display: flex;
                align-items: center;
                color: $color-primary;
                font-size: 1em;
                cursor: pointer;
                margin-bottom: 1em;

                .bx{
                    font-size: 1.5em;
                }
            }

            .info-account{
                background-color: $color-white;
                padding: 1em;

                .info-row{
                    display: flex;
                    flex-direction: column;

                    .label{
                        h1{
                            font-weight: 400;
                        }
                        p{
                            color: $color-dark-grey;
                            margin-bottom: 1em;
                        }
                    }

                    button{
                        @include button-red();
                        margin-bottom: 1em;
                    }
                }

                .info-saldo{
                    padding-left: 1em;
                    
                    .available{
                        margin-bottom: 1em;
                        #saldo{
                            color: $color-green;
                        }
                    }
                    .limit{
                        p{
                            &:nth-of-type(2){
                                color: $color-green;
                            }
                        }
                        

                    }
                }
            }

            .actions{
                display: grid;
                gap: 1em;
                margin-top: 1em;

                .item{
                    background-color: $color-white;
                    padding: 1em;
                    min-height: 140px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img{
                        width: 60px;
                        margin-bottom: 2em;
                    }
                    .pix{
                        width: 50px;
                    }



                    p{
                        &:nth-of-type(1){
                            font-weight: 600;
                            
                        }
                        &:nth-of-type(2){
                            color: $color-primary;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .my-cards{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                h1{
                    font-weight: 400;
                }
                hr{
                    margin-top: 1em;
                }
                .btn-cards{
                    button{
                        width: 100%;
                        @include button-red();
                        &:nth-of-type(2){
                            background-color: $color-white;
                            border: 1.5px solid $color-primary;
                            color: $color-primary;
                            font-weight: 400;
                            margin-top: 1em;
                        }
                    }
                    
                }
            }

            .messages{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                color: $color-dark-grey;
                text-align: center;
            }
        }
    }
}