// ROOT

$color-primary: #CC092F;
$hover-white-color: #e8b2b2;
$hover-red-color: #660518;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #515151;
$color-light-grey: #f2f2f2;
$color-green: #3c8e3b;
$background-color: #ececec;

// REUSABLE

@mixin button-red {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color .5s;

    &:hover{
        background-color: $hover-red-color;
    }
}


*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $background-color;
}

hr{
    background-color: $color-dark-grey;
    opacity: 50%;
    margin-bottom: 1em;
    z-index: -9;
}

.main-section{
    .container-main{
        .wrapper{
            margin: 1em;

            .back{
                display: flex;
                align-items: center;
                color: $color-primary;
                font-size: 1em;
                cursor: pointer;
                margin-bottom: 1em;
                transition: .5s;

                .bx{
                    font-size: 1.5em;
                }

                &:hover{
                    color: $hover-red-color;
                }
            }

            .info-account{
                background-color: $color-white;
                padding: 1em;

                .info-row{
                    display: flex;
                    flex-direction: column;

                    .label{
                        h1{
                            font-weight: 400;
                        }
                        p{
                            color: $color-dark-grey;
                            margin-bottom: 1em;
                        }
                    }

                    button{
                        @include button-red();
                        margin-bottom: 1em;
                    }
                }

                .info-saldo{
                    padding-left: 1em;
                    
                    .available{
                        margin-bottom: 1em;
                        #saldo{
                            color: $color-green;
                        }
                    }
                    .limit{
                        p{
                            &:nth-of-type(2){
                                color: $color-green;
                            }
                        }
                        

                    }
                }
            }

            .actions{
                display: grid;
                gap: 1em;
                margin-top: 1em;

                .item{
                    background-color: $color-white;
                    padding: 1em;
                    min-height: 140px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img{
                        width: 60px;
                        margin-bottom: 2em;
                    }
                    .pix{
                        width: 50px;
                    }



                    p{
                        &:nth-of-type(1){
                            font-weight: 600;
                            
                        }
                        &:nth-of-type(2){
                            color: $color-primary;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .my-cards{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                h1{
                    font-weight: 400;
                }
                hr{
                    margin-top: 1em;
                }
                .btn-cards{
                    button{
                        width: 100%;
                        @include button-red();
                        &:nth-of-type(2){
                            background-color: $color-white;
                            border: 1.5px solid $color-primary;
                            color: $color-primary;
                            font-weight: 400;
                            margin-top: 1em;

                            &:hover{
                                background-color: $color-primary;
                                color: $color-white;
                            }
                        }
                    }
                    
                }
            }

            .messages{
                background-color: $color-white;
                padding: 1em;
                margin-top: 1em;
                color: $color-dark-grey;
                text-align: center;
            }
        }
    }
}

// RESPONSIVIDADE

@media only screen and (min-width: 768px){
    .main-section{
        .container-main{
            .wrapper{
                margin: 1em 2em;

                .back{
                    font-weight: 600;
                }
                .info-account{
                    padding: 2em;
                    .info-row{
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        button{
                            width: 210px;
                            padding: 10px 0px;
                        }
                    }
                    .info-saldo{
                        margin-left: 1.5em;
                        display: flex;
                        .available{
                            margin-bottom: 0em;
                            margin-right: 7em;
                        }
                    }
                }

                .actions{
                    grid-template-areas: 'emp bol'
                                         'pix pix';


                    .item{
                        padding: 1em 2em;
                    }
                    .emp{
                        grid-area: 'emp';
                    }

                    .bol{
                        grid-area: 'bol';
                    }

                    .pix{
                        grid-area: 'pix';
                        max-width: 100%;
                    }
                }

                .my-cards{
                    padding: 2em;

                    .btn-cards{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        width: 500px;
                        button{
                            padding: 10px 0px;
                            
                            &:nth-of-type(1){
                                padding: 0px 0px;
                                margin-right: 1em;
                            }
                            &:nth-of-type(2){
                                margin-top: 0em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .main-section{
        .container-main{
            display: flex;
            justify-content: center;
            width: 100%;
            .wrapper{
                width: 100%;
                max-width: 1130px;

                .info-account{
                    padding: 2em 3em;
                }

                .actions{
                    grid-template-areas: 'emp bol pix'
                                         'emp bol pix';

                    .item{
                        padding: 1em 3em;
                    }
                }

                .my-cards{
                    padding: 2em 3em;
                    margin-top: 0em;
                }

                .messages{
                    padding: 2em 3em;
                }
            }
        }
    }
}